name: Publish

on:
  workflow_run:
    workflows: [CI]
    types: [completed]
    branches: [main]
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}

permissions:
  contents: write
  id-token: write

jobs:
  publish:
    name: Publish to GitHub & npm
    runs-on: ubuntu-latest
    if: github.event_name != 'workflow_run' || github.event.workflow_run.conclusion == 'success'
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event_name == 'workflow_dispatch' && github.ref || github.event.workflow_run.head_sha }}
          fetch-depth: 0

      - uses: ./.github/actions/prepare

      - name: Build
        run: pnpm build

      - name: Publish to GitHub Release and npm
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: pnpm release
